<h1>Clients</h1>

<%= link_to 'Add', new_client_path %>

<% @clients.each do |client| %>

  <h2><%= link_to client.name, client_path(client) %></h2>
  <%= link_to "delete", client_path(client), method: :delete, data: { confirm: "Are you sure ?"} %>

<% end %>


